#ag{
    font-size: 1.6rem;
}
.linha1{
    font-size: 2rem;
    font-weight: 500;
}
.linha2{
    font-size: 1.6rem;
    font-weight: 400;
}

.icones{
    font-weight: 800;
}

.clicavel{
    cursor: pointer;
}
